/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    padding-bottom: 20px;
}

.sections ul li {
    list-style: none;
    display: inline;
    padding-right: 40px;
    position: sticky;

}

.sections ul {
    margin-left: 50px;

}

.sections ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;


}

.sections {
    background-color: rgb(56, 109, 97);
    padding: 4px 0px 4px;

}

.square {
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 20px 2px inset;
    border: 2px solid rgb(232, 232, 232);
    border-radius: 8px;
    color: rgb(56, 109, 97);
    display: inline-block;
    margin-left: 30px;
}

#rotate {
    transform: rotateZ(45deg);
    position: relative;
    left: -82px;

}

.nav-bar {
    height: 100px;
    width: auto;
    border-top: 12px solid rgba(229, 155, 19, 0.949);
    position: sticky;

}

#title {
    position: relative;
    top: -85px;
    left: 90px;
}

.title {
    height: 90px;
    padding-left: 50px;
}



/* Main Content */
.center {
    padding: 20px;
    margin: 20px 100px 10px 100px;
}

p {
    font-size: larger;
}

h1 {
    color: #084c61;
}

.blog-post {
    margin-bottom: 30px;
}

.blog-post h2 {
    color: #010101;
}

.blog-post p {
    color: #555;
}

.content {
    display: flex;
    margin-top: 10px;
}

.content img {
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.text {
    max-width: 600px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(56, 109, 97);
    border-top: 12px solid rgba(229, 155, 19, 0.949);
    color: white;
    padding: 20px;
    margin-top: 30px;
}

.footer-section {
    width: 30%;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #e6e6e6;
    text-decoration: none;
}

.footer-section p {
    color: #e6e6e6;
}